:root {
  --main-black: #121e29;
  --main-red: #e3216a;
  --main-blue: #52657a;
  --main-green: #00a651;
  --main-orange: #ff9f00;
  --main-white: #f5f3e5;
  --fzlv: 25px;
  --fzmv: 2px;
  --fzsv: 30px;
  --h1: 50px;
  --mb:200px;
  --padtop:15px;
  --imghoverw:72%;
}
@media only screen and (max-width: 790px) {
  :root {
    --fzlv: 22px;
    --h1: 30px;
   --mb:80px;
--fzsv: 20px;
--padtop:10px;
--imghoverw:92%;
  }
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto Slab", "Roboto Mono", serif;
  background-image: linear-gradient(
      115deg,
      rgba(20, 33, 45, 0.9),
      rgba(20, 33, 45, 0.9)
    ),
    url("https://i.guim.co.uk/img/media/2abe5a9bee5769168843fc873d39aa2696a7cc0d/0_139_4467_2681/master/4467.jpg?width=1920&quality=85&auto=format&fit=max&s=a8c43e81775114404286ffd675453f7f");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  text-shadow: -4px 3px 3px rgba(0, 0, 0, 0.43);
  color: #8892b0;
  scroll-behavior: smooth;
  margin: 100px 100px 0px 100px;
 
}
@media only screen and (max-width: 790px) {
  body {
    margin: 5%;
  }
}

.body {
  display: none;
margin-bottom:-30px;
}

.cont {
  margin: 0 auto;
  margin-top: -70px;
  font-family: "Roboto Slab", serif;
}

.cont h1 {
  font-size: var(--h1);
  opacity: 0;
  color: #2083df;
/* text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;#aadfdf*/
}

#intro {
  opacity: 0;
  margin-bottom: var(--mb);
  font-size: var(--fzlv);
 padding-top: var(--padtop);
}
#intro h1 {
  color: #2083df;
  font-size: clamp(40px, 4vw, 80px);
  font-size: var(--h1);
}

.welcomepage {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 600px; /* Full height */
  text-align: center;
  background-image: linear-gradient(
      115deg,
      rgba(20, 33, 45, 0.9),
      rgba(20, 33, 45, 0.9)
    ),
    url("https://i.guim.co.uk/img/media/2abe5a9bee5769168843fc873d39aa2696a7cc0d/0_139_4467_2681/master/4467.jpg?width=1920&quality=85&auto=format&fit=max&s=a8c43e81775114404286ffd675453f7f");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.logo {
  display: inline-block;
}
.logo img {
  width: 100px;
  height: 50px;
  display: inline;
  margin: 8px 10px 30px 20px;
  transform: rotateY(0deg);
  user-select: none;
}
@media only screen and (max-width: 785px) {
  .logo img {
    margin: 8px 10px 15px -5px;
  }
}

.navbar {
  background-image: linear-gradient(
    115deg,
    rgba(20, 33, 45, 0.98),
    rgba(20, 33, 45, 0.98)
  );
  overflow-y: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 0;
  box-shadow: 2px 5px 11px 3px rgba(0, 0, 0, 0.4);
  white-space: nowrap;
}

.menubar {
  display: none;
  cursor: pointer;
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}
@media only screen and (max-width: 785px) {
  .menubar {
    display: inline-block;
  }
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #2083df;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.mobimenu {
  position: fixed;
  right: 0;
  top: 60px;
  width: 0;
  opacity: 0;
  height: 100vh;
  z-index: 1000;
  background-image: linear-gradient(
    115deg,
    rgba(20, 33, 45, 1),
    rgba(20, 33, 45, 1)
  );
}
@media only screen and (min-width: 785px) {
  .mobimenu {
    display: none;
  }
}

.closemenubar {
  position: fixed;
  z-index: 800;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  width: 100%;
  top: 60px;
  left: 0;
}

.mobimenu ul {
  flex-flow: column nowrap;
  justify-content: center;
}

nav li,
.mobimenu li {
  margin: 0px 20px;
  font-size: 20px;
  padding: 18px;
  list-style-type: none;
  transition: 0.5s;
}
nav a,
.mobimenu a {
  text-decoration: none;
  color: inherit;
}
.mobimenu li:hover {
  background: #2083df;
  color: #121e29;
  transition: 0.5s;
  text-shadow: none;
}

nav {
  display: inline;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  float: right;
}
@media only screen and (max-width: 785px) {
  nav {
    display: none;
  }
}



nav li:hover {
  transition: 0.5s;
  border-bottom: 5px solid #2083df;
  color: #2083df;
}


#about {
padding-top: 45px;
margin-bottom: var(--mb);
font-size: var(--fzlv);
}

.abouthead {
  width: 100%;
}
h2 {
font-size: var(--fzlv);
  color: white;
}

.fade_rule {
  height: 5px;
  background: rgb(32, 131, 223);
  background: linear-gradient(
    90deg,
    rgba(224, 238, 238, 0.1) 0%,
    rgba(32, 131, 223, 1) 54%,
    rgba(224, 238, 238, 0.1) 100%
  );
  width: 0;
  margin: 0;
  position: relative;
  z-index: -1;
}
.flashlight {
  background: #2083df;
  -webkit-box-shadow: -3px 2px 13px 10px #2083df;
  box-shadow: -3px 2px 13px 10px #2083df;
  height: 5px;
  width: 15px;
  border-radius: 30%;
  margin-left: 100%;
  z-index: -1;
}

.about {
  display: grid;
grid-template-columns: repeat(12,1fr);
grid-template-rows: auto auto;
 padding-top: 40px;
font-size: var(--fzlv);
}
@media only screen and (max-width: 785px) {
  .about {
    display: flex;
    flex-flow: column nowrap;
  }
}
.pix {
margin:0 50px;
float:left;
}
.aboutmed {

grid-column: 1/span 12;
}

.aboutmed2 {
grid-column: 3/8;
line-height: 35px;

}
.aboutmed3 {
 grid-column: 9/-1;
line-height: 35px;
}

[class*=aboutmed]{
  letter-spacing: normal;
 font-size: var(--fzlv);
line-height: 35px;

}


.aboutmed2 ul {
margin-top: 0;
white-space: nowrap;
}

.aboutmed3 ul {
margin-top: 0;
white-space: nowrap;
}

.aboutmed2 .listalign{
display: flex;
flex-flow: row wrap;
}
@media only screen and (max-width: 785px) {
 .aboutmed2 .listalign{
    display: block;
  }
}
.aboutmed2 h4{
margin-left: 80px;
display: inline;
}

.aboutmed3 h4{
margin: 0;
display: inline;
margin-left: 30px;
}
@media only screen and (max-width: 785px) {
.aboutmed3 h4,.aboutmed2 h4{
text-align: center;
display: block;
margin: 0;
  }
}



.pix img {
  display: inline-block;
   width: 300px;
  height: auto;
  margin: 0 auto;
  margin-top: 15px;
  transition: 0.9s;
  -webkit-box-shadow: -7px 6px 5px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: -7px 6px 5px 0px rgba(0, 0, 0, 0.8);
  box-shadow: -7px 6px 5px 0px rgba(0, 0, 0, 0.8);
border-radius: 5px;
}
@media only screen and (max-width: 785px) {
  .pix img {
  width: 97%;
  height:auto;
  }
.pix img:hover {
 width:100%;

}
}

.pix img:hover {
  width:320px;
  height: auto;
  transition: 0.7s;
  margin: 0;
  -webkit-box-shadow: -11px 9px 5px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: -11px 9px 5px 0px rgba(0, 0, 0, 0.8);
  box-shadow: -11px 9px 5px 0px rgba(0, 0, 0, 0.8);
}
@media only screen and (max-width: 785px) {
.pix img:hover {
 width:100%;
}
}


.projects {
  margin: 0 20px;
  border-radius: 5px;
  box-shadow: 2px 5px 11px 3px rgba(0, 0, 0, 0.4);
  text-align: center;
}

#projects {
  padding-top: 40px;
 margin-bottom: var(--mb);
}


#projects h2 {
  text-align: left;
}

.project1 img{
max-width:70%;
height: auto;
display: block;
margin:0 auto;
margin-top: 50px;
transition: max-width 1s;
 -webkit-box-shadow: -7px 6px 5px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: -7px 6px 5px 0px rgba(0, 0, 0, 0.8);
  box-shadow: -7px 6px 5px 0px rgba(0, 0, 0, 0.8);
}
@media only screen and (max-width: 785px) {
.project1 img{
max-width:90%;
margin-top: 30px;
  }
}

.project1 img:hover{
max-width:var(--imghoverw);
transition:1s;
-webkit-box-shadow: -11px 9px 5px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: -11px 9px 5px 0px rgba(0, 0, 0, 0.8);
  box-shadow: -11px 9px 5px 0px rgba(0, 0, 0, 0.8);
}

.projectdetails{
margin: 50px 100px 50px 100px;
font-size: var(--fzlv);
text-align: center;

}
@media only screen and (max-width: 785px) {
.projectdetails{
margin: 30px 20px 50px 20px;
text-align:left;
  }
}

.viewcode{
margin:0 auto;
margin-top: 30px;

}
@media only screen and (max-width: 785px) {
.viewcode{
display: flex;
flex-flow: row wrap;
  }
}

.viewcode a{
text-decoration:none;
padding: 2%;
color:var(--main-orange);
 background-color:  hsla(209, 38%, 13%, 1);
border-radius: 5px;
margin: 10px;
white-space: nowrap;
}

.viewcode a:hover{
background-color:  rgb(32, 131, 223, 1);
color:hsla(209, 38%, 13%, 1);
}





#contact {
padding-top: 40px;
  text-align: center;
  height: 400px;
 margin-bottom: var(--mb);
}
#contact h2 {
  text-align: left;

}

#contact h1 {
  margin-top: 50px;
font-size:var(--fzsv)
}

#contact p {
  margin-top: 35px;
}

.contacticons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.iconspace i {
  position: relative;
  color: var(--main-white);
  top: 32%;
  opacity: 1;
  z-index: 1;
}
@media only screen and (max-width: 785px) {
 .iconspace i {
    top: 30%;
  }
}


.contacticons a {
  text-decoration: none;
}

.iconspace {
  border-radius: 50%;
  background: rgb(32, 131, 223, 0.2);
  height: 100px;
  width: 100px;
  margin: 5px;
  transition: opacity 1s;
  transition: background 1s;
}

@media only screen and (max-width: 785px) {
  .iconspace {
    width: 70px;
    height: 70px;
  }
}

.iconspace:hover {
  transition: 1s;
  background: rgb(32, 131, 223, 1);
  color: #121e29;
}

.footer {
  text-align: center;
  background-image: linear-gradient(
    115deg,
    rgba(20, 33, 45, 0.8),
    hsla(209, 38%, 13%, 0.8)
  );
  position: relative;
bottom: 0;
}

.footer p {
  vertical-align: middle;
  display: inline-block;
}

.footer a {
  color: var(--main-red);
  text-decoration: none;
}
